<footer class="bg-dark text-light py-4 mt-auto">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3">
        <h5><i class="bi bi-scissors me-2"></i>BarberShop</h5>
        <p class="text-white-50 small">Modern borbélyszalon – Online időpontfoglalás egyszerűen.</p>
      </div>
      <div class="col-md-4 mb-3">
        <h6>Navigáció</h6>
        <ul class="list-unstyled small">
          <li><a routerLink="/" class="text-white-50 text-decoration-none">Főoldal</a></li>
          <li><a routerLink="/gallery" class="text-white-50 text-decoration-none">Galéria</a></li>
          <li><a routerLink="/about" class="text-white-50 text-decoration-none">Rólunk</a></li>
        </ul>
      </div>
      <div class="col-md-4 mb-3">
        <h6>Kapcsolat</h6>
        <ul class="list-unstyled small text-white-50">
          <li><i class="bi bi-geo-alt me-1"></i>1234 Budapest, Példa utca 1.</li>
          <li><i class="bi bi-telephone me-1"></i>+36 70 264 0738</li>
          <li><i class="bi bi-envelope me-1"></i>info&#64;barbershop.hu</li>
        </ul>
      </div>
    </div>
    <hr class="border-secondary">
    <div class="text-center small text-white-50">
      &copy; {{ currentYear }} BarberShop. Minden jog fenntartva. <br>A projekt oktatási jelleggel készült.
    </div>
  </div>
</footer>
